.right-nav{
    width: 10vw;
    height:100vh;
    position: fixed;
    z-index: 9;
    right: 0;
    top: 0;
    padding-top: 6vh;
    padding-right: 10px;
    text-align: right;
}
li{
    list-style-type: none;
}